article{
	background: greenyellow;
	border:2px solid black;
	color: black;
	margin: 20px 5px;
	padding: 15px;
	text-align: center;
	-o-transition: all 1s linear;
	-webkit-transition: all 1s linear;
	-ms-transition: all 1s linear;
	-moz-transition: all 1s linear;
	transition: all 1s linear;
	width: 400px;
}

article p{
	font: 30px Tahoma;
	font-weight: 100%;

}
/*article:hover{
	height: 400px;
	width: 800px;
}*/

article:hover{
	background: black;
	color: greenyellow;
	/*-o-transform: translate(150px,300px);
	-ms-transform: translate(150px,300px);
	-webkit-transform: translate(150px,300px);
	-moz-transform: translate(150px,300px);
	transform: translate(150px,300px);*/
	
	/*-o-transform: scale(50);
	-ms-transform: scale(50);
	-webkit-transform: scale(50);
	-moz-transform: scale(50);
	transform: scale(50);*/

	-o-transform: translate(150px,300px) skew(10deg,10deg);
	-ms-transform: translate(150px,300px) skew(10deg,10deg);
	-webkit-transform:translate(150px,300px) skew(10deg,10deg);
	-moz-transform:translate(150px,300px) skew(10deg,10deg);
	transform:translate(150px,300px) skew(10deg,10deg);

}